# Python
venv/
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Model files (retrain using save_model.py)
# models/*.pkl


# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml
